<div *ngFor="let question of questions;let qi = index" class="question-box">

    <div class="statement">
        {{question.statement}}
    </div>

    <div>
        <label>
            <input type="radio" name="option_{{qi}}" />
            {{question.option1}}
        </label>
    </div>

    <div>
        <label>
            <input type="radio" name="option_{{qi}}" />
            {{question.option2}}
        </label>
    </div>

    <div>
        <label>
            <input type="radio" name="option_{{qi}}" />
            {{question.option3}}
        </label>
    </div>

    <div>
        <label>
            <input type="radio" name="option_{{qi}}" />
            {{question.option4}}
        </label>
    </div>

    <div class="marks">
        {{question.marks}}
    </div>

</div>